
{
    "items": [
        {
            "className": "{{ cmdb_class_name }}",
            "sys_object_source_info": {
                "source_name": "{{ cmdb_source_name }}",
                "source_native_key": "{{ vm_name }}"
            },
            "values": {
                "alert_policy": "{{ vm_alert_policy }}",
                "antivirus_definitions": "{{ vm_antivirus_definitions }}",
                "antivirus_product": "{{ vm_antivirus_product }}",
                "antivirus_status": "{{ vm_antivirus_status }}",
                "antivirus_version": "{{ vm_antivirus_version }}",
                "apm_enabled": {{ vm_apm_enabled | lower }},
                "apm_tool": "{{ vm_apm_tool }}",
                "application_id": "{{ vm_application_id }}",
                "application_name": "{{ vm_application_name }}",
                "approved_by": "{{ vm_approved_by }}",
                "asset_tag": "{{ vm_asset_tag }}",
                "backup_policy": "{{ vm_backup_policy }}",
                "backup_retention_days": "{{ vm_backup_retention_days }}",
                "backup_schedule": "{{ vm_backup_schedule }}",
                "backup_target": "{{ vm_backup_target }}",
                "backup_tool": "{{ vm_backup_tool }}",
                "bandwidth_mbps": "{{ vm_bandwidth_mbps }}",
                "bitlocker_enabled": {{ vm_bitlocker_enabled | lower }},
                "bitlocker_status": "{{ vm_bitlocker_status }}",
                "business_unit": "{{ vm_business_unit }}",
                "category": "{{ vm_category }}",
                "change_request": "{{ vm_change_request }}",
                "cidr_prefix": "{{ vm_cidr_prefix }}",
                "classification": "{{ vm_classification }}",
                "cluster": "{{ vm_cluster }}",
                "compliance_framework": "{{ vm_compliance_framework }}",
                "cost_center": "{{ vm_cost_center }}",
                "country": "{{ vm_country }}",
                "cpu_core_count": "{{ vm_cpu_core_count }}",
                "cpu_hyperthreading": {{ vm_cpu_hyperthreading | lower }},
                "cpu_limit_mhz": "{{ vm_cpu_limit_mhz }}",
                "cpu_model": "{{ vm_cpu_model }}",
                "cpu_reservation_mhz": "{{ vm_cpu_reservation_mhz }}",
                "cpu_socket_count": "{{ vm_cpu_socket_count }}",
                "cpu_speed_mhz": "{{ vm_cpu_speed_mhz }}",
                "cpu_total_cores": "{{ vm_cpu_core_count * vm_cpu_socket_count }}",
                "created_by": "{{ vm_created_by }}",
                "datacenter": "{{ vm_datacenter }}",
                "datastore": "{{ vm_datastore }}",
                "datastore_cluster": "{{ vm_datastore_cluster }}",
                "decommission_date": "{{ vm_decommission_date }}",
                "default_gateway": "{{ vm_default_gateway }}",
                "disk_controller": "{{ vm_disk_controller }}",
                "disk_data_gb": "{{ vm_disk_data_gb }}",
                "disk_os_gb": "{{ vm_disk_os_gb }}",
                "disk_total_gb": "{{ vm_disk_os_gb + vm_disk_data_gb }}",
                "disk_type": "{{ vm_disk_type }}",
                "dns_domain_search": "{{ vm_dns_domain_search | join(', ') }}",
                "dns_servers": "{{ vm_dns_servers | join(', ') }}",
                "domain": "{{ vm_domain }}",
                "dotnet_version": "{{ vm_dotnet_version }}",
                "dr_enabled": {{ vm_dr_enabled | lower }},
                "dr_rpo_hours": "{{ vm_dr_rpo_hours }}",
                "dr_rto_hours": "{{ vm_dr_rto_hours }}",
                "dr_site": "{{ vm_dr_site }}",
                "edr_product": "{{ vm_edr_product }}",
                "edr_status": "{{ vm_edr_status }}",
                "edr_version": "{{ vm_edr_version }}",
                "environment": "{{ vm_environment }}",
                "esxi_host": "{{ vm_esxi_host }}",
                "firewall_enabled": {{ vm_firewall_enabled | lower }},
                "firewall_policy": "{{ vm_firewall_policy }}",
                "firmware_type": "{{ vm_firmware_type }}",
                "fqdn": "{{ vm_name }}.{{ vm_domain }}",
                "guest_id": "{{ vm_guest_id }}",
                "hardening_applied": {{ vm_hardening_applied | lower }},
                "hardening_baseline": "{{ vm_hardening_baseline }}",
                "hardware_version": "{{ vm_hardware_version }}",
                "hypervisor": "{{ vm_hypervisor }}",
                "hypervisor_version": "{{ vm_hypervisor_version }}",
                "ip_address": "{{ vm_ip_address }}",
                "ip_address_v6": "{{ vm_ip_address_v6 }}",
                "last_backup_status": "{{ vm_last_backup_status }}",
                "last_backup_time": "{{ vm_last_backup_time }}",
                "location": "{{ vm_location }}",
                "log_collector": "{{ vm_log_collector }}",
                "log_index": "{{ vm_log_index }}",
                "mac_address": "{{ vm_mac_address }}",
                "maintenance_window": "{{ vm_maintenance_window }}",
                "manufacturer": "{{ vm_manufacturer }}",
                "memory": "{{ vm_memory_mb }}",
                "memory_gb": "{{ (vm_memory_mb / 1024) | int }}",
                "memory_limit_mb": "{{ vm_memory_limit_mb }}",
                "memory_reservation_mb": "{{ vm_memory_reservation_mb }}",
                "model_id": "{{ vm_model_id }}",
                "monitoring_agent": "{{ vm_monitoring_agent }}",
                "monitoring_group": "{{ vm_monitoring_group }}",
                "monitoring_status": "{{ vm_monitoring_status }}",
                "monitoring_tool": "{{ vm_monitoring_tool }}",
                "name": "{{ vm_name }}",
                "network_adapter": "{{ vm_network_adapter }}",
                "ntp_servers": "{{ vm_ntp_servers | join(', ') }}",
                "os": "{{ vm_os }}",
                "os_activation": "{{ vm_os_activation }}",
                "os_architecture": "{{ vm_os_architecture }}",
                "os_build": "{{ vm_os_build }}",
                "os_edition": "{{ vm_os_edition }}",
                "os_full": "{{ vm_os }} {{ vm_os_version }} {{ vm_os_edition }}",
                "os_install_type": "{{ vm_os_install_type }}",
                "os_kernel_version": "{{ vm_os_kernel_version }}",
                "os_language": "{{ vm_os_language }}",
                "os_last_patched": "{{ vm_os_last_patched }}",
                "os_locale": "{{ vm_os_locale }}",
                "os_patches_applied": "{{ vm_os_patches_applied }}",
                "os_service_pack": "{{ vm_os_service_pack }}",
                "os_timezone": "{{ vm_os_timezone }}",
                "os_version": "{{ vm_os_version }}",
                "owner_email": "{{ vm_owner_email }}",
                "owner_team": "{{ vm_owner_team }}",
                "patch_compliance": "{{ vm_patch_compliance }}",
                "port_group": "{{ vm_port_group }}",
                "powershell_version": "{{ vm_powershell_version }}",
                "primary_contact": "{{ vm_primary_contact }}",
                "privileged_access": "{{ vm_privileged_access }}",
                "project_code": "{{ vm_project_code }}",
                "provisioned_at": "{{ lookup('pipe', 'date -u +\"%Y-%m-%dT%H:%M:%SZ\"') }}",
                "requested_by": "{{ vm_requested_by }}",
                "resource_pool": "{{ vm_resource_pool }}",
                "role": "{{ vm_role }}",
                "secondary_contact": "{{ vm_secondary_contact }}",
                "secure_boot": {{ vm_secure_boot | lower }},
                "serial_number": "{{ vm_serial_number }}",
                "service_offering": "{{ vm_service_offering }}",
                "short_description": "{{ vm_short_description }}",
                "site_code": "{{ vm_site_code }}",
                "sla_tier": "{{ vm_sla_tier }}",
                "snapshot_policy": "{{ vm_snapshot_policy }}",
                "stig_applied": {{ vm_stig_applied | lower }},
                "subcategory": "{{ vm_subcategory }}",
                "subnet_mask": "{{ vm_subnet_mask }}",
                "support_group": "{{ vm_support_group }}",
                "support_tier": "{{ vm_support_tier }}",
                "template": "{{ vm_template }}",
                "tpm_enabled": {{ vm_tpm_enabled | lower }},
                "tpm_version": "{{ vm_tpm_version }}",
                "uptime_sla_percent": "{{ vm_uptime_sla_percent }}",
                "vcenter_id": "{{ vm_vcenter_id }}",
                "vcenter_server": "{{ vm_vcenter_server }}",
                "vlan_id": "{{ vm_vlan_id }}",
                "vlan_name": "{{ vm_vlan_name }}",
                "vm_folder": "{{ vm_vm_folder }}",
                "vm_moref": "{{ vm_vm_moref }}",
                "vm_uuid": "{{ vm_vm_uuid }}",
                "vmtools_status": "{{ vm_vmtools_status }}",
                "vmtools_version": "{{ vm_vmtools_version }}",
                "vulnerability_scan_last": "{{ vm_vulnerability_scan_last }}",
                "vulnerability_score": "{{ vm_vulnerability_score }}",
                "warranty_expiry": "{{ vm_warranty_expiry }}"
            }
        }
    ]
}
