---
- name: Ensure Firewall allows WinRM/ICMP
  ansible.windows.win_shell: |
    $adapterName = (Get-NetAdapter | Where-Object { $_.Status -eq "Up" } | Select-Object -First 1).Name
    Set-NetConnectionProfile -InterfaceAlias $adapterName -NetworkCategory Private
    netsh advfirewall firewall set rule name="Windows Remote Management (HTTP-In)" new enable=yes

- name: Set Static IPv4 address and Gateway
  ansible.windows.win_shell: |
    $adapter = Get-NetAdapter | Where-Object { $_.Status -eq "Up" } | Select-Object -First 1
    if ($null -eq $adapter) { exit 1 }

    Remove-NetIPAddress -InterfaceIndex $adapter.ifIndex -Confirm:$false -ErrorAction SilentlyContinue
    Remove-NetRoute -InterfaceIndex $adapter.ifIndex -Confirm:$false -ErrorAction SilentlyContinue

    New-NetIPAddress -InterfaceIndex $adapter.ifIndex -IPAddress "{{ static_ip }}" -PrefixLength "{{ prefix_length }}" -DefaultGateway "{{ gateway }}"
  async: 60
  poll: 0
